<mat-card class="user-detail-header">
  <button mat-icon-button 
    [matMenuTriggerFor]="userMenu"
    class="pin-right-upper-corner">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="editOrder()">Edit</button>
  </mat-menu>
  <mat-card-title>Shopping Cart</mat-card-title>
  <div class="cart-div">

  </div>
 	
 
</mat-card>

<mat-card class="mt-32">
  <button mat-icon-button 
    [matMenuTriggerFor]="bankingMenu"
    class="pin-right-upper-corner">
    <mat-icon>more_vert</mat-icon>
  </button>
 <mat-menu #bankingMenu="matMenu">
    <button mat-menu-item (click)="editIBAN()">Edit</button>
 </mat-menu>
  
  <mat-card-title>IBAN</mat-card-title>
  <mat-card-content>
    {{ activOrder.customer.IBAN}}
  </mat-card-content>
</mat-card>

