<mat-card>
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>City</th>
    </tr>
    <tr *ngFor="let user of allUsers">
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>{{ user.eMail }}</td>
      <td>{{ user.city }}</td>
    </tr>
  </table>

</mat-card>


<!-- Mit der Angular Material Tooltip Komponente können Beschreibungen mit Erklärungen beim 
Hovern über bestimmten Objekten angezeigt werden:  -->
<button mat-fab color="primary"
  (click)="openDialog()"
  class="add-button"
  matTooltip="Add User">
  <mat-icon>add</mat-icon>
</button>
